<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.zstu.ky.kyykt.zuul.Mapper.UserMapper">
        <select id="loadUserByUserName" resultType="com.zstu.ky.kyykt.zuul.Entity.DO.User">
          select * from user where username =#{username}
        </select>
        <select id="getRoleById" resultType="com.zstu.ky.kyykt.zuul.Entity.DO.Role">
            select * from role,user_role where role.id = user_role.rid and user_role.uid = #{id}
        </select>
    <select id="getAdminUserById" resultType="com.zstu.ky.kyykt.zuul.Entity.DO.AdminUser">
        select * from adminUser where id =#{id}
    </select>
    <select id="getStudentUserById" resultType="com.zstu.ky.kyykt.zuul.Entity.DO.StudentUser">
        select * from studentUser where id =#{id}
    </select>
    <select id="getTeacherUserById" resultType="com.zstu.ky.kyykt.zuul.Entity.DO.TeacherUser">
        select * from teacherUser where id =#{id}
    </select>
    </mapper>